extends ../layout.pug
block content
    .card-deck.mb-3.text-center
        .card.mb-4.shadow-sm
            .card-header
                h4.my-0.font-weight-normal Home Screen
            .card-body.text-center
                | This is MIT Licensed tool for gathering data from FireStore documents. This tool handles two types of files - CSV and JSON.

            .form-group
                a.btn.btn-primary(href='/configuration') Start new export &rarr;